openapi: 3.2.0
info:
  title: Aircover Public Agent MCP API
  version: 1.0.0
  description: The public, agent-facing API surface of Aircover — the AI-powered real-time sales coaching and enablement platform. This specification covers the OAuth 2.0 authorization endpoints and the Model Context Protocol (MCP) endpoint that AI agents use to access Aircover on behalf of an authenticated user. Aircover's full REST API is available to customers; contact support@aircover.ai for access. New users receive a trial license automatically on self-serve sign-up.
  contact:
    name: Aircover Support
    email: support@aircover.ai
    url: https://www.aircover.ai/developers
  termsOfService: https://www.aircover.ai/terms-and-conditions
servers:
- url: https://api.aircover.ai
  description: Production
security:
- oauth2:
  - mcp
tags:
- name: MCP
  description: Model Context Protocol server (Streamable HTTP transport)
paths:
  /mcp:
    post:
      operationId: mcpJsonRpc
      tags:
      - MCP
      summary: MCP JSON-RPC endpoint
      description: 'Model Context Protocol endpoint over Streamable HTTP. Send JSON-RPC 2.0 messages (initialize, tools/list, tools/call, …). Available tools: list_meetings, get_meeting, get_meeting_transcript, ask_documents, list_agents, agent_results, get_qualification_results, get_deals, get_deal, get_teams, list_reports, read_report. All data access is bounded by the authenticated user''s organization permissions. Unauthenticated requests receive 401 with a WWW-Authenticate header pointing at the protected-resource metadata; MCP clients complete the OAuth flow automatically.'
      security:
      - oauth2:
        - mcp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC 2.0 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
        '401':
          description: Missing or invalid access token. The WWW-Authenticate header references the protected resource metadata at /.well-known/oauth-protected-resource.
components:
  schemas:
    JsonRpcRequest:
      type: object
      required:
      - jsonrpc
      - method
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          description: Request id (string or number). Omit for notifications.
          oneOf:
          - type: string
          - type: integer
        method:
          type: string
          description: MCP method, e.g. initialize, tools/list, tools/call.
          example: tools/list
        params:
          type: object
          description: 'Method parameters. For tools/call: {"name": "list_meetings", "arguments": {…}}.'
          additionalProperties: true
    JsonRpcError:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          description: JSON-RPC error code.
        message:
          type: string
        data:
          description: Optional error details.
    JsonRpcResponse:
      type: object
      required:
      - jsonrpc
      properties:
        jsonrpc:
          type: string
          enum:
          - '2.0'
        id:
          oneOf:
          - type: string
          - type: integer
        result:
          type: object
          description: Present on success.
          additionalProperties: true
        error:
          $ref: '#/components/schemas/JsonRpcError'
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow with PKCE (S256) and dynamic client registration. Scopes are granted per-client and always bounded by the authenticated user's own organization permissions — an agent can never see more than the user who authorized it.
      flows:
        authorizationCode:
          authorizationUrl: https://api.aircover.ai/oauth/authorize
          tokenUrl: https://api.aircover.ai/oauth/token
          refreshUrl: https://api.aircover.ai/oauth/token
          scopes:
            mcp: 'Access the MCP tool surface: meetings, transcripts, AI agent results, deal qualification, reports, teams, and indexed documents — read-scoped to the authorizing user''s organization role.'
externalDocs:
  description: Aircover Developer & Agent Resources
  url: https://www.aircover.ai/developers
